<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recollection App</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <div class=" navbar navbar-inverse main-menu">
        <h1>Recollection</h1>
     <ul class="login-modal">
        <li>@Html.Partial("_LoginPartial")</li>
        </ul>
    </div>
    <div class="body-content cf">
        @RenderBody()
        <footer>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="~/Angular/js/main.js"></script>
    <script src="~/Angular/js/config/main.config.js"></script>
    <script src="~/Angular/js/controllers/dashboard.controller.js"></script>
    <script src="~/Angular/js/controllers/people.controller.js"></script>
    <script src="~/Angular/js/controllers/places.controller.js"></script>
    <script src="~/Angular/js/main.constants.js"></script>
    <script src="~/Angular/js/services/apiPerson.factory.js"></script>
    <script src="~/Angular/js/services/apiPlace.factory.js"></script>
    <script src="~/Angular/js/services/apiMemory.factory.js"></script>
    <script src="~/Angular/js/filters/monthDayYear.filter.js"></script>
</body>
</html>
